body{
    background-image: url("/assets/bg-home-principal.jpg");
}

html, body{
    height: 100%;
}

.cuidador{
    height: 35%; 
    background-color: #e0e0e0;
    cursor: pointer;
    transition: 0.4s;
}

.cuidador:hover{
    background-color: #FAFAFA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer1{
    background-color: #9A9A9A;
    height: 13vh;
    margin-top: 10%;
}